.header {
  top: 0;
  position: fixed;
  width: 1285px;
  height: 70px;
  box-sizing: border-box;
  background-color: white;
  z-index: 100;

}


.header>img {
  width: 200px;
  height: 70px;
}


.search-bar {
  position: relative;
  margin: 10px;
  width: 250px;
  margin-left: 58%;
  margin-top: -60px;



}

.search-input {
  border-radius: 5%;
  border-style: solid;
}

.btn-light {
  margin-right: 10px;
}

.flex-nowrap {
  margin-top: -39px;
  margin-left: 100px;
}

.flex-nowrap {
  margin-left: 110px;
}

.thongtinuser {

  margin-left: 200px;
  width: 200px;
  position: absolute;
  margin-top: -55px;
  margin-left: 220px;
}