.imgbaohanh1{
    width: 700px;
    height: 350px;
}
.thongtin1{
    width: 685px;
}
.border-start
{
    color:rgb(122, 119, 119);
    font-size:12px;
    width: 685px;
    background-color: rgb(233, 227, 227);

}