
    #root {
        max-width: 1280px;
        width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
      }
  
  
  .carousel-full-screen .carousel-item {
    height: 100vh; /* Chiều cao của từng mục trong Carousel */
  }
  
  .carousel-full-screen .carousel-item img {
    object-fit: cover; /* Đảm bảo ảnh tràn đầy vùng chứa */
    height: 100%;
    width: 100%;
  }
  body{
    background-color: orangered;
    
     /* background-image: url('https://wegame.gtimg.com/g.55555-r.c4663/wukong/assets/feature-game-pc-01.BNS-F04C.jpg'); */
     
  
  
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
    
    /* background-image: url('https://wallpapers.com/images/high/counter-terrorist-4k-cs-go-2noq7zoc1n5i5beo.webp'); Đặt ảnh nền */
  }
  
  .panel h3 {
    font-size: 20px;
  
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  .custom-link-button {
    text-decoration: none; /* Loại bỏ gạch chân mặc định */
    color: #007bff; /* Màu chữ */
    font-weight: bold;
  }
  .custom-bg {
      /* background-image: url('https://wegame.gtimg.com/g.2000797-r.57462/info/242ae450d15424fece0b1443f6d7b669.jpg/1000'); Đặt ảnh nền */
    background-size: cover; /* Đảm bảo ảnh nền phủ kín */
    background-position: center; /* Đặt ảnh nền ở giữa */
    padding: 20px; /* Khoảng cách xung quanh */
    border-radius: 10px; /* Bo góc */
    color: #fff; /* Đặt màu chữ trắng để dễ đọc trên nền */
  }
  
  .custom-bg .card {
    border: none; /* Loại bỏ viền của thẻ */
    border-radius: 10px; /* Bo góc của thẻ */
    background-color: transparent; /* Làm cho nền thẻ trong suốt */
    border: none; /* Loại bỏ viền thẻ */
  }
  .card-body {
  
    border-radius: 10px; /* Bo góc */
    padding: 10px; /* Khoảng cách xung quanh */
  }
  .product{
  max-width: 100%;
  height: 160px;
  transition: transform 0.3s ease;
  
  }
  .product:hover {
    transform: scale(1.1);
  }
  
  .card h5 {
    color: #f5f5f5; /* Đặt màu chữ trắng cho các liên kết */
  }
.card p{
    color: #f5f5f5; /* Đặt màu chữ trắng cho các liên kết */

}