




.topHeader {
    background-color: rgb(131, 178, 240);
    height: 50px;
    margin-top: -69px;
}

span {
    margin-left: 15px;
    color: white;
    font-size: 16px;
    text-align: center;

}

span>a {
    text-decoration: none;
    color: white;
   font-size: small;
}

.topHeader>.container {
    margin-left: 52%;
    margin-top: 0px;
    position: absolute;
}
body {
    overflow-x: hidden;
  }

.mainHeader {
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(0,212,255,1) 0%, rgba(203,60,39,1) 0%, rgba(12,12,231,1) 100%);
    margin-top: -20px;
    width: 100%;
   
}

.LogoSteam {
    height: 180px;
    width: 180px;
    margin-top: -12px;
}

.inputHeader {
    width: 350px;
    margin-left: -20px;
    margin-top: 70px;
    position: absolute;
    font-size: 14px;

}

.thongtinUser {
    margin-left: 80px;
    color: white;
    margin-top: 70px;
    font-size: 14px;
}

.thongtinUser>a{
    color: white;
}

.Cart {
    margin-left: 60px;
    width: 200px;
    color: white;
    margin-top: 70px;
    
}

.mainHeader2>a {
    text-decoration: none;
    color: white;
    margin-right: 80px;
    margin-left: 5px;
    font-size: 15px;
    margin-top: 410px;
    
}

.mainHeader2 {
    color: white;
    
 
}

.thongtinthem>a {
    font-size: 14px;
    color: black;
    margin-left: 5px;
    margin-right: 20px;
    text-decoration: none;
}

.thongtinthem {
    margin-left: 350px;
    margin-top: -35px;
}
.footerHeader
{
    height: 50px;
    margin-bottom: 100px;
}