.order-history {
    padding: 5px;
   font-size: 14px;
  }
  
  .order-history h2 {
    margin-bottom: 10px;
  }
  
  .order-history p {
    margin-bottom: 20px;
  }
  
  .filter-container {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
  }
  .input-text-profile2{
    width: 150px;
  }
  .filter-container input,
  .filter-container .filter-button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .filter-container .filter-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .filter-container .filter-button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .status {
    color: green;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  