.sidebarProfile
{
    width: 300px;
    margin-top: 0px;
}

.sidebarProfile>.list-group>a
{
    text-decoration: none;
    margin-top: 10px;
    height: 45px;
    text-align: center;
    color: black;
    border: solid black 1px;
  
}
.sidebarProfile>.list-group>a:hover
{
background-color: rgb(235, 235, 238)
}
